<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steushio Gateway</title>
    <link rel="stylesheet" href="/css">
</head>

<body>
<div class="card">
    <div class="banner2">
        <h1 class="brand">STEUSHIO GATEWAY</h1>
        <p class="subtitle">UPI QR & Payment Link Generator</p>
    </div>

    <div class="actions">
        <input id="upiid" placeholder="Enter UPI ID">
        <input id="amountid" placeholder="Amount (optional)" type="number">

        <button onclick="makeLink()">Create Link</button>
    </div>

    <p class="desc">Redirects directly to UPI apps</p>
</div>

<script>
function makeLink() {
    let upi = document.getElementById("upiid").value;
    let amt = document.getElementById("amountid").value;

    if (!upi.includes("@")) {
        alert("Invalid UPI ID");
        return;
    }

    let base = window.location.origin;
    let url = amt ? `${base}/${upi}/${amt}` : `${base}/${upi}`;
    navigator.clipboard.writeText(url);
    alert("Link copied!");
}
</script>
</body>
</html>
