<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steushio Gateway</title>
    <link rel="stylesheet" href="/css">
</head>

<body>
<div class="card">

    {% if amount|float > 0 %}
        <img class="qr" src="/qr/{{ id }}/{{ amount }}">
        <h2>Pay ₹{{ amount }} to {{ id }}</h2>
    {% else %}
        <img class="qr" src="/qr/{{ id }}/0">
        <h2>Pay to {{ id }}</h2>
    {% endif %}

    {% if amount|float > 0 %}
        <a href="upi://pay?pn=STEUSHIO&pa={{ id }}&cu=INR&am={{ amount }}">
    {% else %}
        <a href="upi://pay?pn=STEUSHIO&pa={{ id }}&cu=INR">
    {% endif %}
        <button>Pay Now</button>
    </a>

    <a href="/"><button class="secondary">Create New Link</button></a>

</div>
</body>
</html>
